<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aero">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/iconn1" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.activity.Base"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".view.activity.Home"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".view.activity.DashboardVolunteerActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen" />
        <activity android:name=".view.activity.SideMenuActivity" />
        <activity
            android:name=".view.activity.ContactExhibitor"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.activity.B2BActivity" />
        <activity
            android:name=".view.activity.SendRequestActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NewDashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.DashboardExhibitorActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".Notif.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notif.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.MyActivities"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ViewMessageDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ServicesActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AnnouncementsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpcomingEventsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MyWallActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DocCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddAnnouncementActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CreateExhibitorProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.ExhibitorListActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WriteFeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WhereAmActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AirforceActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"
         />
        <activity
            android:name=".view.activity.AirforceServicesActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".view.activity.ShowLatLongActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ServiceCategoryOnMapActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpdatesActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ViewCategoryDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ExhibitorContactActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.StallLocationOnMapActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WebViewMapActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.VolunteerScanQRActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.ViewProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".view.activity.ShowDocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".view.activity.HallRedirectionActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"></activity>

        <receiver android:name=".view.Receiver.FeedbackReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <service android:name=".view.Receiver.UpdateFeedbackService">
        </service>

        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="@string/google_maps_key" />-->
    </application>

</manifest>